@model EntityLayer.Concrete.Writer

@{
    ViewBag.Title = "addWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<title>Admin Yazar Ekleme Sayfası</title>
<h2>Yeni Yazar Eekle</h2>
@using (Html.BeginForm("addWriter", "Writer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(x => x.writerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerName)
        <br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x => x.writerSurame, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerSurame)
        <br />
        @Html.Label("Mail Adresi")
        @Html.TextBoxFor(x => x.writerMail, new { @class = "form-control" })
        <br />
        @Html.Label("Paswword")
        @Html.TextBoxFor(x => x.writerPasssword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerPasssword)
        <br />
        @Html.Label("Yazar Görsel Linki")
        @Html.TextBoxFor(x => x.writerImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerImage)
        <br />
        @Html.Label("Yazar Hakkında")
        @Html.TextBoxFor(x => x.writerAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerAbout)
        <br />
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
}