
@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
<!--FormBaşlat FormMethodu Post olsun-->

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /><br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Kategori Status")
        @Html.TextBoxFor(x => x.CategoryStatus, new { @class = "form-control" })
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>